body {
    text-align: center;
    margin: 0;
    font-family: 'Quicksand', sans-serif;
}

h1 {
    width: 30%;
    margin: 50px auto 0;
    font-family: 'Sacramento', cursive;
    font-size: 6rem;
    color: #da85a0;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    font-weight: normal;
    color: #da85a0;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    color: #da85a0;
    padding-top: 30px;
}

.database {
    padding-top: 60px;
}

.top {
    padding: 100px;
    padding-bottom: 0;
    position: relative;
    background-color: #fed7ee;
    height: auto;
    width: auto;
}


.descripcion {
    font-size: 1rem;
    margin: auto 200px auto 200px;

}

.profile {
    width: 50%;
    margin: 0 auto;
}

.skills {
    width: 50%;
    margin: 90px auto;
    position: relative;
}


.skill-row1 {
    text-align: left;
}

.skill-row2 {
    text-align: right;
}

p {
    line-height: 2;
}

.descripcion2 {
    padding-bottom: 26.56px;
}

.developer {
    margin-top: 3px;
    margin-bottom: 3px;
    font-size: 1rem;
    color: #da85a0;

}

.abajo-nube {
    position: absolute;
    top: 300px;
    left: 480px;
}

.arriba-nube {
    position: absolute;
    left: 900px;
    top: 90px;
}

.avatar {
    height: 200px;
    padding-top: 20px;
    padding: 20px;
    padding-top: 40px;
}



.pincel {
    width: 25%;
    height: 200px;
    padding-top: 20px;
    float: left;
    padding-right: 30px;
}



.codigo {
    width: 25%;
    height: 200px;
    padding-top: 20px;
    float: right;
    padding-left: 30px;
}

hr {
    border-top-style: dotted;
    border-top-width: thick;
    border-color: #edc8ea;
    border-bottom: none;
    border-left: none;
    border-right: none;
    width: 10%;
}

.hr1 {
    margin-top: 100px;
}

.hr2 {
    margin-bottom: 100px;
}

a {
    color: #fed7ee;
    text-decoration: none;
}

a:hover {
    color: #ffffff;
    text-decoration: none;
}

.email {
    display: inline-block;
    
}

.whatsapp {
    display: inline-block;
    text-align: center;
}

.linkedin {
    display: inline-block;
}


.contact-me {
    margin-bottom: 60px;
}

.bottom {
    background-color: #da85a0;
    margin: 0px;
    padding: 80px;
    
}

.redes {
    word-spacing: 30px;
}

.btn {
    background: #fed7ee;
    background-image: -webkit-linear-gradient(top, #fed7ee, #da85a0);
    background-image: -moz-linear-gradient(top, #fed7ee, #da85a0);
    background-image: -ms-linear-gradient(top, #fed7ee, #da85a0);
    background-image: -o-linear-gradient(top, #fed7ee, #da85a0);
    background-image: linear-gradient(to bottom, #fed7ee, #da85a0);
    -webkit-border-radius: 27;
    -moz-border-radius: 27;
    border-radius: 27px;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    border: none;
    cursor: pointer;
    
  }
  
  .btn:hover {
    background: #da85a0;
    background-image: -webkit-linear-gradient(top, #da85a0, #da85a0);
    background-image: -moz-linear-gradient(top, #da85a0, #da85a0);
    background-image: -ms-linear-gradient(top, #da85a0, #da85a0);
    background-image: -o-linear-gradient(top, #da85a0, #da85a0);
    background-image: linear-gradient(to bottom, #da85a0, #da85a0);
    text-decoration: none;
  }

  .final {
    color: #ffeff8;
    text-decoration: solid;
    font-size: 0.7rem;
  }